{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Network Automation Portal</h1>

  <div class="list-group mb-4">
    <a href="http://127.0.0.1/configure" class="list-group-item list-group-item-action">Configure Devices</a>
    <a href="http://127.0.0.1/run_test" class="list-group-item list-group-item-action">Health Check Portal</a>
    <a href="http://127.0.0.1/get_golden_configs" class="list-group-item list-group-item-action">Get Golden Configs</a>
  </div>

  <h3 class="mb-3">Dashboards</h3>
  <div class="list-group">
    <a href="{{ url_for('grafana') }}" class="list-group-item list-group-item-action">Grafana (http://localhost:3000)</a>
    <a href="{{ url_for('chronograf') }}" class="list-group-item list-group-item-action">Chronograf (http://localhost:8888)</a>
  </div>
{% endblock %}


