{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Network Automation Portal</h1>

  <div class="list-group mb-4">
    <a href="{{ url_for('configure', device_type='router') }}" class="list-group-item list-group-item-action">Configure Router</a>
    <a href="{{ url_for('configure', device_type='edge_router') }}" class="list-group-item list-group-item-action">Configure Edge Router</a>
    <a href="{{ url_for('configure', device_type='switch') }}" class="list-group-item list-group-item-action">Configure Switch</a>
  </div>

  <h3 class="mb-3">Dashboards</h3>
  <div class="list-group">
    <a href="{{ url_for('grafana') }}" class="list-group-item list-group-item-action">Grafana (http://localhost:3000)</a>
    <a href="{{ url_for('chronograf') }}" class="list-group-item list-group-item-action">Chronograf (http://localhost:8888)</a>
  </div>
{% endblock %}


